/* font-family: "Montserrat", sans-serif; */
/* font-family: "Rubik", sans-serif; */
*,
*::after,
*::before {
  box-sizing: border-box;
}
.hedden {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.login-bg-image {
  background: url(../img/site-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 100%;
}

.logo {
  width: 226px;
  height: 44px;
  margin-bottom: 50px;
}
.site-logo {
}
.form-section {
}
.form {
}
.username-input {
  max-width: 300px;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* text-transform: uppercase; */
  /* buni ko`rish kerak */
  background-color: transparent;
  margin: 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 51px;
  margin-bottom: 25px;
}
.username-input:focus {
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: none;
}
label {
  display: none;
}

.username-password {
  max-width: 300px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  /* text-transform: uppercase; */
  color: #ffffff;
  margin: 0;
  padding: 5px 5px;
  background-color: transparent;
  border: 1px solid #ffffff;
  /* box-sizing: border-box; */
  border-radius: 4px;

  padding: 12px 51px;
  margin-bottom: 43px;
}
.username-password:focus {
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: none;
}
.login-btn {
  max-width: 300px;
  width: 100%;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0d75ff;
  margin-bottom: 11px;
  padding: 12px 0;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transition: 1s ease-in-out;
}
.login-btn:hover {
  color: black;

  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 1s ease-in-out;
}
.forgot-password {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: end;
}
.forgot-password-link {
  text-decoration: none;
}
/* forgot passwordni underlinega hover berish */

/* INDEX PAGE STYLE */
.site-header {
}
.home-container {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.site-nav {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
}
.site-logo-index-page {
  margin: 0;
  padding: 12px;
  /* margin-right: 56px; */
}
.search-wrapper {
  padding: 12px 0;
  max-width: 671px;
  width: 100%;
  /* shu joyida bag borrrrr divning uzunlligi bilan input uzunligiga doir */
}
.search-input {
  max-width: 671px;
  width: 100%;
  background: #f8fafd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 15px;
  border: 2px solid transparent;
  font-family: "Rubik";
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.24);
  margin-left: 56px;
}
.search-input:focus {
  outline: none;
  border: 2px solid rgb(105, 171, 236);
}
.theme-mode {
  background-color: transparent;
  border: none;
  margin-left: 104px;
  padding: 0;
}
.logout-btn {
  border: none;
  background: #0d75ff;
  border-radius: 4px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px 11px;
  margin-left: 15px;
}

/* MAIN SECTION STYLE */
.site-main {
}
.search-result-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;

  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
/* .container {
  max-width: 1259px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
} */
.result {
  margin: 0;
  margin-left: auto;
}
.sort-btn-wrapper {
  padding: 11px 0;
}
.sort-btn {
  background: #a6b0c3;
  border-radius: 4px;
  border: none;
  padding: 9px 13px;
  /* vaqtinchalik padding before da haqiqiy padding baeriladi */
  margin: 0;
  font-family: "Rubik";

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 600px;
  /* identical to box height */

  color: #ffffff;
}
.main-section {
  display: flex;
}

/* MAIN SECTION STYLE */
.main-section {
}
.left-section {
  max-width: 308px;
  width: 100%;
  padding: 0 20px;
  /* margin: 0 auto; */
}
.left-section-heading {
  margin: 0;
  font-family: "Rubik";
  font-size: 24px;
  line-height: 28px;
  margin-top: 25px;
  margin-bottom: 5px;
}
.left-section-desc {
  margin: 0;
  max-width: 218px;
  font-family: "Rubik";
  font-size: 14px;
  line-height: 155.6%;
  margin-bottom: 25px;
}
.bookmark-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bookmark-items {
  display: flex;
  align-items: center;
  background: #f8fafd;
  border-radius: 4px;
  justify-content: space-between;
}
.bookmark-top {
  padding: 15px;
}
.bookmark-heading {
  margin: 0;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  color: #000;
  margin-bottom: 5px;
}
.bookmark-desc {
  margin: 0;
  font-family: "Rubik";
  /* font-weight: 500; */
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  color: #757881;
}
.bookmark-bottom {
  margin-right: 10px;
}
px .read-bookmark-btn + .delete-btn {
  margin-left: 5px;
}
.read-bookmark-btn,
.delete-btn {
  background: transparent;
  border: none;
}
/* BOOKS CARD SECTION STYLE */
.right-section {
  max-width: 968px;
  padding: 0 20px;
  background: #f8fafd;
  padding-bottom: 25px;
  /* margin-top: 45px; */
}

.books-list {
  margin-top: 45px;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: -17px;
}
.cards-items {
  padding: 13px 13px 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 17px;
}
/* .cards-items + .cards-items {
  margin-left: 17px;
} */
.card-img {
  width: 201px;
  height: 202px;
  border-radius: 5px;
}
.card-img-bg {
  background: #f8fafd;
  border-radius: 5px;
  max-width: 230px;
  padding: 12px 15px;
  margin-bottom: 19px;
}
/* .card-text-wrapper {
  height: 110px;
  margin-bottom: 22px;
} */
.card-title {
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 2px;
  max-width: 200px;
  text-align: center;
}
.card-desc {
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
  /* font-weight: 500; */
  font-size: 13px;
  line-height: 18px;
  max-width: 200px;
  /* identical to box height */

  color: #757881;
}
.book-year {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Rubik";
  font-style: normal;
  /* font-weight: 500; */
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  color: #757881;
}
.buttons {
  background: transparent;
  border: none;
  display: block;
}
.bookmark-btn {
  background: transparent;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
  padding: 10px 22px;
  background: #ffd80d;
  border-radius: 4px;
  cursor: pointer;
}
.more-info-btn {
  background: transparent;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #0d75ff;
  padding: 10px 22px;
  background: rgba(13, 117, 255, 0.05);
  border-radius: 4px;
  cursor: pointer;
}
.bookmark-btn + .more-info-btn {
  margin-bottom: 6px;
  margin-left: 5px;
}
.read-btn {
  background: transparent;
  border: none;
  display: block;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
  padding: 10px 100px;
  background: #75828a;
  border-radius: 4px;
  margin-bottom: 13px;
  text-decoration: none;
}
/* pagination */
.pagination {
  display: flex;

  align-items: center;
  justify-content: center;
}
.prev-btn {
}
.pagination-numbers {
  display: flex;

  align-items: center;
  list-style-type: none;
  /* justify-content: center; */
  max-width: 700px;
  overflow-x: auto;
}
.next-btn {
}
.prev-bg {
  background-color: dimgray;
}
.active {
  background-color: rgba(248, 95, 95, 0.712) !important;
  color: white !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px;
}
.page-item {
  background: #ffffff;
  border: 1px solid #0d75ff;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}
.page-link {
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
